.container#main-wrapper
  = render partial: 'shared/header'
  .row
    %aside.col-md-2
      = render partial: 'categories/category_list', :locals => {:categories => @categories} 
      .new= link_to 'New Products', new_path
      .sale= link_to 'Products on Sale', sale_path
    .col-md-8
      .row.white-background.pagination= paginate @products
      - if flash[:message]
        .message.white-background.success= flash[:message]
      .row#products= render @products
    %aside.col-md-2
      = render 'cart'

