.container#main-wrapper
  = render partial: 'shared/header'
  %h2.white-background= "Search Results for '#{params[:search]}'"

  - if @search_results.nil?
    %p= 'Sorry, your search for ' + params[:search] + ' came up empty.'
  - else
    = render @search_results

